
@import url('https://fonts.googleapis.com/css2?family=Dhurjati&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Diplomata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Linden+Hill&display=swap');


*{
    margin: 0px;
    padding: 0px;
    font-family: 'Linden Hill', serif;
}

.container{
    max-width: 85%;
    /* background-color: wheat; */
    padding: 30px;
    margin: auto;
}

.container h1, p{
    text-align: center;
}

input, textarea{
    width: 70%;
    margin: 14px 0px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    outline: none;
    display: block;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn{
    color: whitesmoke;
    background: purple;
    padding: 14px 9px;
    font-size: 16px;
    border: 1px solid rgb(113, 214, 138);
    border-radius: 30px;
    cursor: pointer;
}

img {
    width: 100%;
    position: absolute;
    z-index: -1;
}

p{
    margin: 5px;
    font-size: 35px;
    font-family: 'Dhurjati', sans-serif;
}

h1{
    font-family: 'Diplomata', cursive;
}

.endline{
    color: greenyellow;
}